<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609970619495-8pohs0fdik8fjnf3b4m0o9o761ee9ni5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609970619495-8pohs0fdik8fjnf3b4m0o9o761ee9ni5</string>
	<key>API_KEY</key>
	<string>AIzaSyDyCM2BzXNlLVM9kbGhlk3NKVIfX3JRH2E</string>
	<key>GCM_SENDER_ID</key>
	<string>609970619495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>komeet-ios-release.flutterAppKomeet</string>
	<key>PROJECT_ID</key>
	<string>komit-0</string>
	<key>STORAGE_BUCKET</key>
	<string>komit-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609970619495:ios:e07ea7b32badf4f7</string>
	<key>DATABASE_URL</key>
	<string>https://komit-0.firebaseio.com</string>
</dict>
</plist>